@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
body {
  margin: 0;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
*:focus {
  outline: none;
}

code {
  font-family: 'Kadwa', serif;
}
:root{
  --main-font: 'Kadwa', serif;
  --dark-blue: #2A1770;
  --main-white: #FEFEFE;
}